<div class="mt-5 " >
  {{#unless outputURL}}
  <form method="post" action="/">
    <div class="mb-3">
      <input type="text" class="form-control form-control-lg" id="url" name="url" placeholder="Input URL here"
        aria-describedby="input url">
      {{#if isError}}
      <div id="urlHelp" class="form-text text-danger">
        {{formText}}
      </div>
      {{/if}}
    </div>
    <button class="btn btn-outline-primary px-5" type="submit">Shorten</button>
  </form>
  {{/unless}}
  {{#if outputURL}}
  <h2>Success!Please use this link:</h2>
  <div class="mb-3">
    <a href="{{ outputURL }}" class="outputURL">{{ outputURL }}</a>
  </div>
  <button class="btn btn-primary px-5 copy" type="submit"> Copy</button>
  {{/if}}
</div>

<script>
  const copy = document.querySelector('.copy')
  copy.addEventListener('click', function onclickCopyButton(e){
    const copyText = e.target.previousElementSibling.firstElementChild.innerText
    navigator.clipboard.writeText(copyText)
  })
</script>